.header {
    position: relative;
    top: 0;
    width: 100%;
    margin-bottom: 1.5rem;
}

.badge-light {
    background-color: white;
}

button.btn:nth-child(2) {
    padding-left: 0.0em;
}

.btn-primary {
    background-color: #04CC4A;
    border-color: transparent;
}

.btn-primary:hover {
    border-color: transparent;
    background-color: #FF505F;
}

.btn-link {
    color: #04CC4A;
}

.btn-link:hover {
    color:#FF505F;
}

.btn-secondary {
    background-color: transparent;
    border-color: #04CC4A;
    color: #04CC4A;
    
}

.btn-secondary:hover {
    background-color: transparent;
    border-color: #FF505F;
    color:#FF505F;
}

.button {
    color: #04CC4A;
    text-align: center;
    font-size: 1.2rem;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 40rem;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0s;
    color: #04CC4A;
  }
  
  .button span:after {
    content: 'Perguntar';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -7em;
    transition: 0s;
    color: #04CC4A;
  }
  
  .button:hover span {
    padding-right: 25px;
    color:#FF505F;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
    color:#FF505F;
  }


