form.login {
    display: inline-block;
    margin-top: 2em;
    display: inline-block;
}

body {
    text-align: center;
}

.content {
    display: flex;
    margin-bottom: 2em;
}

.content label {
    margin-right: 0.7em;
}

.section-break {
    margin: 2rem auto 2rem;
}

.btn {
    margin-bottom: 3px;
    margin-right: 5px
}