.content {
    margin: 3rem 12rem;
}

.topics,
.description {
    margin-top: 1rem;
}

.info * {
    display: inline;
}

.author {
    float: right;
}

.comment * {
    display: inline;
    font-size: 0.9rem;
}

.comment {
    padding: 0.2rem;
    padding-bottom: 0rem;
    margin-bottom: 0.5rem;
}

.responseSection {
    margin: 2rem 0rem;
}