.img {
    object-fit: cover;
    width: 290px;
    height: 290px;
    border-radius: 50%;
}

.img_inside {
    object-fit: cover;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    float: left;
}

.name-and-action {
    font-size: 0.9rem
}

p {
    margin-bottom: 0.4rem;
}

.prior {
    font-size: 0.9rem;
}

.activity {
    transition: box-shadow 0.3s ease-in-out;
}

.activity:hover {
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 575.98px) {
    .img {
        width: 230px;
        height: 230px;
    }
    .activity {
        padding-right: 0.3rem!important;
        padding-left: 0.3rem!important;
    }
}


.description_inline img {
    display: none;
}

.description_inline a { display: none; }

.description_inline h1, .description_inline h2, .description_inline h3, .description_inline h4, .description_inline h5, .description_inline h6 {
    font-size: 1rem;
}
