.img-settings {
    object-fit: cover;
    width: 210px;
    height: 210px;
    border-radius: 50%;
}

@media (max-width: 575.98px) {
    .img-settings {
        width: 180px;
        height: 180px;
    }
}

.list-group-item.active {
    background-color: #04CC4A;
    border: transparent;
}
