.img-settings {
    object-fit: cover;
    width: 210px;
    height: 210px;
    border-radius: 50%;
}

@media (max-width: 575.98px) {
    .img-settings {
        width: 180px;
        height: 180px;
    }
}

.list-group-item.active {
    background-color: #04CC4A;
    border: transparent;
}


.select2-container--default .select2-results__option[aria-selected="true"], .select2-container--default .select2-results__option--highlighted[aria-selected] {
    
    background-color: transparent !important;
    border-color: #04CC4A !important;
    color: #04CC4A !important;
}
.overlay-layer{
    width:200px;
    height:40px;
    position:absolute;
    margin-top:-40px;
    opacity:0.2;
    background-color:#000000;
    z-index:0;
    color:#FFFFFF;
    text-align:center;
    line-height:40px;
    cursor: pointer;
}
.upload_btn{
    position:absolute;
    width:200px;
    height:40px;
    margin-top:-40px;
    z-index:10;
    opacity:0;
    cursor: pointer;
}

.tab-content {
    width: 100%;
}