body {
    text-align: center;
}

form.login {
    display: inline-block;
}

.content {
    display: flex;
    margin-bottom: 2em;
}

.content label {
    margin-right: 0.7em;
}

.btn {
    margin-bottom: 3px;
    margin-right: 5px
}

.login label {
    margin-top: auto;
    margin-bottom: auto;
}