.container{
    display: flex;
}

.wellcome {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to bottom right,rgb(248, 91, 91),rgb(253, 253, 84), rgb(213, 245, 99), lightgreen ,rgb(119, 255, 119), rgb(94, 218, 94));
    text-align: center;
    color: rgba(245, 245, 245, 0.884);
    font-size: 5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.wellcome p{
    margin-left: 1.5em;
    margin-top: 2.5em;
}

.related{
    margin-left:1em;
}

.wellcomeLogo{

    width: 19%;
    height: 19%;
}