h3 {
    padding-bottom: 0.3em;
    font-weight: 350;
}

img {
    max-width: 100%;
}

.card {
   margin-bottom: 2%;
}

.card-header{
    padding: 0.5rem 0.9rem;
}

.card-body {
    padding-bottom: 0.7em;
    padding-top: 0.7em;
}


.card-title {
    font-weight: 550;
    margin-bottom: .3rem;
}

.btn {
    text-align: justify;
}