.content {
    margin: 3rem 12rem;
}

.info * {
    display: inline;
}

.comment * {
    display: inline;
    font-size: 0.9rem;
}

.comment {
    padding: 0.2rem;
    margin-bottom: 0.5rem;
}

.responseSection {
    margin: 2rem 0rem;
}